inst/staticdocs/* linguist-documentation
inst/qdap_Demonstration/* linguist-documentation
inst/Rmd_vignette/* linguist-documentation
inst/web/* linguist-documentation
inst/qdap_logo linguist-documentation
