export(adjacency_matrix)
export(adjmat)                   
export(all_words)                    
export(automated_readability_index) 
export(bag.o.words)                  
export(blank2NA)                    
export(bracketX)                     
export(bracketXtract)                                                               
export(character.count)                                    
export(cm2long)
export(cm_blank)
export(cm_combine)
export(cm_fill)
export(cm_range.temp)
export(cm_transform)
export(col.fn)
export(coleman_liau)                                    
export(colSplit)                     
export(colsplit2df)  
export(combine_tot)
export(combo_syllable.sum)           
export(common)  
export(csv.dump)
export(delete) 
export(diversity)                                            
export(endf)
export(DF_word_stats)                              
export(dissimilarity)                
export(distTab)                     
export(duplicates)                                                            
export(exclude)
export(flesch_kincaid)              
export(folder)                       
export(formality) 
export(freqTab2words)               
export(frey)                                                    
export(gantt) 
export(gantt_plot) 
export(gantt_rep)     
export(gantt_wrap)     
export(hash)
export(htruncdf)                     
export(imperative) 
export(incomp)
export(incomplete.replace)
export(key_merge)                    
export(kullback.leibler)            
export(left.just)                    
export(linsear_write)               
export(lookup)
export(merge.all)                    
export(multiscale)
export(multigsub)
export(mgsub)                       
export(outlier.detect)                  
export(outlier.labeler)   
export(paste2)                       
export(polarity.score)              
export(pollysyllable.sum)            
export(pos)                         
export(pos.by)                       
export(pos.tags) 
export(print.adjacency.matrix)
export(print.formality.measure)
export(print.polarity.score)
export(print.POS)
export(print.POSby)
export(print.word.list)
export(print.termco_c)
export(print.termco_d)
export(print.word_associate)
export(print.word.stats)
export(prop)                         
export(qcv)    
export(qda)
export(qda.handler)    #export for now
export(qda.capitalizer)              
export(qview)                        
export(rank_freq_plot)                                                  
export(read.transcript)  
export(replacer)
export(replace_abbreviation)
export(replace_number) 
export(right.just)                  
export(rm_empty_row)                     
export(rm_row)
export(Search)                      
export(sentFind)                     
export(sentSplit)  
export(scrubber)
export(SMOG)  
export(spaste)
export(stemmer)
export(stem2df)
export(stem.words)
export(stopwords)                   
export(strip)                        
export(strWrap)                     
export(syllable.count)               
export(syllable.sum)                
export(symbol_change)   
export(term.find)    #export for now
export(term.match)
export(termco)  
export(termco.a)
export(termco.c)                    
export(termco.d) 
export(termco.p)                    
export(termco.rnp)  
export(termco2short.term)   #export for now
export(termco2mat)
export(tester)        #export but likely not useful
export(textLISTER)    #nv
export(text2color)    
export(ncutWORDS)     #internal delete from here later
export(TOT)                          
export(trans.cloud)  
export(trans.venn)
export(Trim)                         
export(truncdf) 
export(url_dl)
export(wfdf.combine)                                          
export(word.associate)              
export(word.comp)                    
export(word.count) 
export(wc)
export(word.freq.df)                 
export(wfdf)                 
export(word.freq.matrix)
export(wfm)
export(word_diff_list)  
export(word_list)  
export(word.network.plot)
export(word.split)                   
export(word_stats)
export(words)
export(xnoy)  #export for now remove later and possibly delete (xnoy = exclude)
export(clean)
export(term.count)   #notvisible (nv)
export(unblanker)
export(breaker)
export(capitalizer)
export(clean)
export(reducer)
export(reduceWORDS)   #nv
import(ggplot2)
import(gdata)
import(igraph)
import(tm)
import(openNLP)
import(openNLPmodels.en)
import(wordcloud)
import(Snowball)
import(gplots)
import(XML)
import(RCurl)
import(venneuler)
#delete qda