export(adjacency_matrix)
export(adjmat)
export(all_words)
export(automated_readability_index)
export(bag.o.words)
export(blank2NA)
export(bracketX)
export(bracketXtract)
export(breaker)
export(capitalizer)
export(char.table)
export(character.count)
export(character.table)
export(clean)
export(cm_code.blank)
export(cm_code.combine)
export(cm_code.exclude)
export(cm_code.overlap)
export(cm_code.transform)
export(cm_combine.dummy)
export(cm_df.fill)
export(cm_df.temp)
export(cm_df.transcript)
export(cm_df2long)
export(cm_distance)
export(cm_dummy2long)
export(cm_long2dummy)
export(cm_range.temp)
export(cm_range2long)
export(cm_time.temp)
export(cm_time2long)
export(coleman_liau)
export(colSplit)
export(colsplit2df)
export(combo_syllable.sum)
export(common)
export(convert)
export(delete)
export(dir_map)
export(dissimilarity)
export(distTab)
export(diversity)
export(duplicates)
export(end_inc)
export(end_mark)
export(exclude)
export(flesch_kincaid)
export(folder)
export(formality)
export(fry)
export(gantt)
export(gantt_plot)
export(gantt_rep)
export(gantt_wrap)
export(genX)
export(genXtract)
export(hash)
export(htruncdf)
export(imperative)
export(incomp)
export(incomplete.replace)
export(key_merge)
export(kullback.leibler)
export(lcolsplit2df)
export(left.just)
export(linsear_write)
export(lookup)
export(ltruncdf)
export(mcsv_r)
export(mcsv_w)
export(mgsub)
export(multigsub)
export(multiscale)
export(NAer)
export(outlier.detect)
export(outlier.labeler)
export(paste2)
export(polarity)
export(polysyllable.sum)
export(pos)
export(pos.by)
export(pos.tags)
export(potential_NA)
export(prop)
export(qcombine)
export(qcv)
export(qheat)
export(qprep)
export(question_type)
export(qview)
export(rank_freq_mplot)
export(rank_freq_plot)
export(read.transcript)
export(replace_abbreviation)
export(replace_contraction)
export(replace_number)
export(replace_symbol)
export(replacer)
export(right.just)
export(rm_empty_row)
export(rm_row)
export(scrubber)
export(Search)
export(sentCombine)
export(sentSplit)
export(SMOG)
export(space_fill)
export(spaste)
export(speakerSplit)
export(stem.words)
export(stem2df)
export(stemmer)
export(stopwords)
export(strip)
export(strWrap)
export(syllable.count)
export(syllable.sum)
export(syn)
export(synonyms)
export(term.match)
export(termco)
export(termco.c)
export(termco.d)
export(termco2mat)
export(text2color)
export(TOT)
export(trans.cloud)
export(trans.venn)
export(Trim)
export(truncdf)
export(url_dl)
export(v.outer)
export(wc)
export(wf.combine)
export(wfdf)
export(wfm)
export(wfm.expanded)
export(word.count)
export(word.network.plot)
export(word.split)
export(word_associate)
export(word_diff_list)
export(word_list)
export(word_stats)
import(chron)
import(gdata)
import(ggplot2)
import(gridExtra)
import(igraph)
import(openNLP)
import(openNLPmodels.en)
import(parallel)
import(RColorBrewer)
import(RCurl)
import(reshape2)
import(scales)
import(Snowball)
import(tm)
import(venneuler)
import(wordcloud)
import(XML)
S3method(common,default)
S3method(common,list)
S3method(plot,character.table)
S3method(plot,diversity)
S3method(plot,formality)
S3method(plot,polarity)
S3method(plot,pos.by)
S3method(plot,question_type)
S3method(plot,termco)
S3method(plot,word_stats)
S3method(print,adjacency_matrix)
S3method(print,character.table)
S3method(print,cm_distance)
S3method(print,colsplit2df)
S3method(print,dissimilarity)
S3method(print,diversity)
S3method(print,formality)
S3method(print,kullback.leibler)
S3method(print,polarity)
S3method(print,pos)
S3method(print,pos.by)
S3method(print,question_type)
S3method(print,termco)
S3method(print,v.outer)
S3method(print,word_associate)
S3method(print,word_list)
S3method(print,word_stats)
